
                /*immagine di sfondo*/
body{           
    background-image: url("background.jpeg");
    background-repeat: no-repeat;
}

                /*sfondo nero trasparente*/

body > div{           

    margin: auto;
    margin-top: 100px;
    padding: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 60%;
    border-radius: 50px;
}

                /*Logo e titolo*/

header{
    text-align: center;
    opacity: 1;
    margin-bottom: 1%;
}

main h1{
    text-align: center;
    font-size: 85px;
    color: rgb(49, 237, 11)
}

                /*checkbox*/

div .tasti-azione{
    width: 80%;
    background-color: rgb(49, 237, 11);
    padding: 0.5%;
    margin: auto;
    text-align: center;
}

input{
    font-size: xx-large;
}

                /*info monopattino*/

.riquadro{
    margin-left: 10%;
    color: white;
}

.riquadro > div{
    margin-top: 4%;
}

.check{
    height: 40px;
    width: 40px;
}

div > p{
    font-size: xx-large;
    margin-bottom: 0%;
}

h2{
    font-size: 50px;
    display: inline;
}

                /*barra colore batteria*/

.orange{
    width: 25%;
    background-color: orange;
    margin-left: 0%;
    padding: 30px;
}

.green{
    width: 45%;
    background-color: rgb(49, 237, 11);
    margin-left: 0%;
    padding: 30px;
}

.red{
    width: 10%;
    background-color: red;
    margin-left: 0%;
    padding: 30px;
}


